<?xml version="1.0"?>
<!--
/**
 * @author	    Vladan Kuzmanovic (vladankuzmanovic@gmail.com)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <productbadges>
            <general>
                <enabled>0</enabled>
                <enabled_on_list>0</enabled_on_list>
                <enabled_on_product_view>0</enabled_on_product_view>
            </general>
            <badge_new>
                <enabled>1</enabled>
                <label>New</label>
                <position_corner>1</position_corner>
                <badge_image>default/badge_new.png</badge_image>
                <width>50</width>
                <height>50</height>
            </badge_new>
        </productbadges>
    </default>
</config>