<?xml version="1.0"?>
<!--
/**
 * @author  Vladan Kuzmanovic (vladankuzmanovic@gmail.com)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="productbadges" translate="label" type="text" sortOrder="999" showInDefault="1" showInWebsite="0" showInStore="0">
            <class>separator-top</class>
            <label>Product Badges</label>
            <tab>catalog</tab>
            <resource>Kuzman_Badges::kuzman_productbadges</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Settings</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="enabled_on_list" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enabled On List</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="enabled_on_product_view" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enabled On Product View</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
            <group id="badge_new" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Badge: New</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="label" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Label</label>
                </field>
                <field id="position_corner" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Position Corner</label>
                    <source_model>Kuzman\ProductBadges\Model\System\Config\Source\Corners</source_model>
                </field>
                <field id="badge_image" translate="label" type="image" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Badge Image</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Image</backend_model>
                    <upload_dir config="system/filesystem/media" scope_info="1">kuzman/product_badges</upload_dir>
                    <base_url type="media" scope_info="1">kuzman/product_badges</base_url>
                </field>
                <field id="width" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Width</label>
                </field>
                <field id="height" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Height</label>
                </field>
            </group>
        </section>
    </system>
</config>